.container{
    padding-left: 35px;
    padding-right: 35px;
    margin-left: auto;
    margin-right: auto;
}


/* Small */
@media(min-width:768px){
   .container{
    width: 750px;
   }
}

/* Meduim */

@media(min-width:992px){
    .container{
        width: 970px;
    }
}

/* Large */

@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}


@font-face {
    font-family: "inter-regular";
    src: url("assets/fonts/static/Inter-Regular.ttf");
}
@font-face {
    font-family: "inter-bold";
    src: url("assets/fonts/static/Inter-Bold.ttf");
}
@font-face {
    font-family: "inter-extra-bold";
    src: url("assets/fonts/static/Inter-ExtraBold.ttf");
}

body{
    font-family: "inter-regular";
    padding-top: 30px;
}
p{
    color: hsl(233, 8%, 79%);
}


/*Header*/
header{
    display: flex;
    justify-content: space-between;
}
nav ul{
    list-style: none;  
}
nav ul li{
    display: inline;
    margin-right: 10px;
}

/* Mian */
main {
    margin-top: 40px;
    margin-bottom: 60px;
}
/* Section 1 */


.section1{
    display: flex;
}

.sec11 img{
    width: 100%;
}
.sec11 {
    margin-right: 20px;
}

.text-sec1 {
    display: flex;
}
.text-sec1 h2{
    font-size: 52px;
    font-family: 'inter-extra-bold';
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
}

.intro {
    margin-top: 20px;
}
.intro p{
    color: hsl(236, 13%, 42%);
    line-height: 30px;
}

.intro button {
    background: hsl(5, 85%, 63%);
    border: navajowhite;
    padding: 20px 30px 20px 30px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-top: 5px;
}


.sec12 {
    margin-left:20px;
    padding: 20px;
    color: #ffffff;
    background: hsl(240, 100%, 5%);
}

.sec12 h2 {
    margin: 0;
    font-size: 42px;
    color: hsl(35, 77%, 62%);
}
.trending {
    margin: 30px 0px 0px 0px;
}
.sec12 h6 {
    font-size: 18px;
    margin:0px;
}

.trending:not(:last-child):after {
    content: "";
    width: 100%;
    height: 1px;
    background:hsl(233, 8%, 79%);
    display: block;
    margin-top: 30px;
}


/* Section 1 */
.section2{
    display: flex;
    margin-top: 60px;

}
.column{
    display: flex;
    padding: 0px 20px 0px 0px;
}
h3.number {
    font-size: 30px;
    font-family: 'inter-extra-bold';
    color: hsl(233, 8%, 79%);
    margin: 0;
}
.description {
    padding-left: 20px;
}
h2.title {
    font-family: 'inter-extra-bold';
    font-size: 18px;
}
.section2 img {
    width: 125px;
}

.section2 p{
    color: hsl(236, 13%, 42%);
}